.big-button-div {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 10%;
}

.big-button {
  font-size: 40px;
  border-radius: 16px;
  display: block;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}

.big-button.left {
  border: none;
  margin-right: 50px;
}

.big-button.right {
  margin-left: 50px;
}