
.blackButton {
    font-family: "NanumGothic";
    width: 100px;
    height: 40px;
    background-color: #000;
    color: #fff;
    transition: all 0.4s;
}

.blackButton:hover {
    background-color: #363636;
}

.redButton{
    font-family: "NanumGothic";
    width: 100px;
    height: 40px;
    background-color: #fc7979;
    color: #fff;
    transition: all 0.4s;
}

.redButton:hover{
    background-color: #965252;
}

.blueButton {
    font-family: "NanumGothic";
    width: 100px;
    height: 40px;
    background-color: #8695c9;
    color: #fff;
    transition: all 0.4s;
}

.blueButton:hover {
    background-color: #36406b;
}

.grayButton{
    font-family: "NanumGothic";
    width: 100px;
    height: 40px;
    background-color: #7a7a7a;
    color: #fff;
    transition: all 0.4s;
}

.grayButton:hover{
    background-color: #484848;
}