.big-button-div {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 10%;
}

.big-button {
  font-size: 40px;
  border-radius: 16px;
}

.big-button.left {
  border: none;
  margin-right: 10px;
  background: yellowgreen;
  opacity: 0.9;
}

.big-button.right {
  background: #ffffff;
  color: #333333;
  margin-left: 10px;
}