
.squareBlackButton {
    font-family: "NanumGothic";
    width: 100px;
    height: 40px;
    background-color: #000;
    color: #fff;
    transition: all 0.4s;
}

.squareBlackButton:hover {
    background-color: #363636;
}