
.blackButton {
    font-family: "NanumGothic";
    width: 100px;
    height: 40px;
    background-color: #000;
    color: #fff;
    transition: all 0.4s;
}

.blackButton:hover {
    background-color: #363636;
}

.redButton{
    font-family: "NanumGothic";
    width: 100px;
    height: 40px;
    background-color: red;
    color: #fff;
    transition: all 0.4s;
}

.redButton:hover{
background-color: #000;
}

.blueButton {
    font-family: "NanumGothic";
    width: 100px;
    height: 40px;
    background-color: #8695c9;
    color: #fff;
    transition: all 0.4s;
}

.blueButton:hover {
    background-color: #36406b;
}