.header {
    text-align: center;
    font-family: "GmarketSansBold";
    font-size: 2em;
    color: #333;
}

.sub_header {
    text-align: center;
    font-family: "NamunGothic";
    font-size: 1em;
    color: #333;
    margin-bottom: 10px;
}

.chat_box {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    font-family: NamunGothic;
    font-size: 1em;
}

.profile_box {
    display: flex;
    flex-direction: column;
    width: 70px;
    align-items: center;
    font-family: IBMPlexSansKR-Regular;
    font-size: 0.9em;
}

.profile_back {
    order: 1;
}

.profile_image {
    width: 50px;
    height: 50px;
}

.chat_message {
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
}

.input_form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.audio_recorder {
    position: absolute;
    top: 10px;
    left: 10px;
}

.input_form_textbox {
    outline: #fff 1px solid;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px 10px 70px;
    margin : 0px;
    border: none;
    border-radius: 10px 10px 0px 0px;
    font-family: "NamunGothic";
    font-size: 0.9em;
}

.input_form_button {
    background-color: #3f3f3f;
    outline: #3f3f3f 1px solid;
    color: white;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 0px;
    border: none;
    border-radius: 0px 0px 10px 10px;
    font-family: "NamunGothic";
    font-size: 0.9em;
    transition: all 0.4s;
}

.input_form_button:hover {
    background-color: #8695c9;
    outline-color: #8695c9;
}

.input_form_disabled {
    background-color: grey !important;
    outline-color: grey !important;
    cursor: default;
}

.input_form_record_button {
    filter: grayscale(0%);
    background-image: url("../assets/record-stop.jpg");
    width: 3em;
    height: 3em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.input_form_record_button.start {
    background-image: url("../assets/record-start.jpg");
}

.input_form_record_disabled {
    filter: grayscale(100%);
}

.result_form_button {
    border-radius: 10px;
}