
.first_section {
    min-height: 500px;
    height: calc(var(--vh, 1vh) * 100 - 94px);
    /*height: calc(100vh - 94px);*/
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
}

.third_section {
    min-height: calc(var(--vh, 1vh) * 100 - 94px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second_section {
    max-height: calc(var(--vh, 1vh) * 100 - 94px);
}

.title_header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    color: #212121;
    font-family: "GmarketSansBold";
    margin-bottom: 40px;
    justify-content: center;
}

.title_content {
    font-family: "IBMPlexSansKR-Regular";
    font-size: 1em;
    margin-left: 4em;
    margin-right: 4em;
    text-align: left;

    @media screen and (max-width: 768px) {
        margin-left: 1em;
        margin-right: 1em;
    }
}

.title_content_start {
    margin-top: 20px;
    color: #818181;
    font-size: 0.85em;
    font-family: "IBMPlexSansKR-Regular";
}

.feature_header {
    font-family: "IBMPlexSansKR-Regular";
    font-size: 22px;
    margin-left: 15px;
    margin-bottom: 0px;
}

.feature_box {
    background-color:#f4f7fb;
    margin:15px;
    padding:20px;
    border-radius: 10px;
}

.feature_box_header {
    font-family: "IBMPlexSansKR-Regular";
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.feature_box_content {
    font-family: "IBMPlexSansKR-Regular";
    font-size: 14px;
}