

.title_header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    color: #212121;
    font-family: "GmarketSansBold";
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 40px;
    justify-content: center;
}

.title_content {
    font-family: "NamunGothic";
    font-size: 14px;
    margin-left: 6em;
    margin-right: 6em;
    text-align: left;
}

.title_content_start {
    margin-top: 20px;
    color: #818181;
    font-size: 12px;
    font-family: "IBMPlexSansKR-Regular";
}

.feature_header {
    font-family: "IBMPlexSansKR-Regular";
    font-size: 22px;
    margin-left: 15px;
    margin-bottom: 0px;
}

.feature_box {
    background-color:#f4f7fb;
    margin:15px;
    padding:20px;
    border-radius: 10px;
}

.feature_box_header {
    font-family: "IBMPlexSansKR-Regular";
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.feature_box_content {
    font-family: "IBMPlexSansKR-Regular";
    font-size: 14px;
}