.header {
    text-align: center;
    font-family: "GmarketSansBold";
    font-size: 2em;
    color: #333;
}

.input_form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}


.input_form_textbox {
    outline: #fff 1px solid;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin : 0px;
    border: none;
    border-radius: 10px 10px 0px 0px;
    font-family: "NamunGothic";
    font-size: 0.9em;
}

.chat_box {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    font-family: NamunGothic;
    font-size: 1em;
}

.profile_box {
    display: flex;
    flex-direction: column;
    width: 70px;
    align-items: center;
    font-family: IBMPlexSansKR-Regular;
    font-size: 0.9em;
}

.profile_back {
    order: 1;
}

.profile_image {
    width: 50px;
    height: 50px;
}

.chat_message {
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
}