@font-face {
	font-family: 'Kakao';
	src: url('/static/KakaoRegular.woff') format('woff');
	font-weight: 400;
}

html, body {
	scroll-behavior: auto;
	-webkit-overflow-scrolling: touch;
	font-size: 16px;
}

body {
  height: 100vh;
	padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

* {
  outline: none;
  font-family: 'Kakao', -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", sans-serif;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: 1rem;
}

.display_none {
  display: none !important;
}

.title {
  font-size: 24px;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  min-height: 420px;
  box-sizing: border-box;
  padding: 40px 0;
  background-color: #1a1a1c;
  box-shadow: 0 8px 16px rgba(0,0,0,.16);
  color: hsla(0,0%,100%,.9);
  transition: 1s ease;
}

@media screen and (max-width: 500px) {
  .Wrapper {
    min-height: 100vh;
    padding-top: 60px;
    box-sizing: border-box;
  }
}

.kakao_button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 6px;
  width: 80%;
  max-width: 240px;
  height: 45px;
  border-radius: 6px;
  background-color: #FFDE02;
  color: #000000;
  cursor: pointer;
}
.kakao_button > img {
  height: 28px;
}
.kakao_button > span {
  margin-left: 6px;
  line-height: 32px;
}

.info {
  color: hsla(0,0%,100%,.6);
  margin: 40px 0 60px 0;
}

.footer {
  color: hsla(0,0%,100%,.6);
  font-size: 14px;
  margin-top: 60px;
  text-align: center;
}
.footer > div {
  display: block;
  margin-bottom: 20px;
}
.footer span {
  color: #ffffff;
  margin: 0 20px;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.loading_circle {
  position: relative;
  width: 32px;
  height: 32px;
  border-top: 4px solid #FFDE02;
  border-right: 4px solid #FFDE02;
  border-bottom: 4px solid #FFDE02;
  border-left: 4px solid rgba(0,0,0,0);
  border-radius: 45px;
  z-index: 11;
  
  animation: Loading 1s linear infinite;
}

@keyframes Loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.thumnail {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  margin: 20px 0;
}

.nickname {
  color: hsla(0,0%,100%,.6);
  margin: 20px 0 40px 0;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 6px;
  width: 80%;
  max-width: 240px;
  height: 45px;
  border-radius: 6px;
  background-color: #0ebb8d;
  color: #000000;
  cursor: pointer;
}