[type="radio"] {
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    width: 1.25em;
    height: 1.25em;
}

[type="radio"]:checked {
  border: 0.4em solid #8695c9;
}

[type="radio"]:focus-visible {
  outline: max(2px, 0.1em) dotted #8695c9;
  outline-offset: max(2px, 0.1em);
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

[type="radio"]:hover + span {
  cursor: pointer;
}

[type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

[type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  width: 1.25em;
  height: 1.25em;
  transition: border 0.2s ease-in-out;
}