datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

option {
    padding: 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range] {
    height: 24px;
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #0075FF;
    border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
    border: 0px solid #0075FF;
    height: 15px;
    width: 15px;
    border-radius: 25px;
    background: #0075ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #0075FF;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #0075FF;
    border-radius: 5px;
}
input[type=range]::-moz-range-thumb {
    border: 0px solid #0075FF;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #0075ff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #0075FF;
    border-radius: 2px;
}
input[type=range]::-ms-fill-upper {
    background: #0075FF;
    border-radius: 2px;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  border: 0px solid #0075FF;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #0075ff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #0075FF;
}
input[type=range]:focus::-ms-fill-upper {
  background: #0075FF;
}