

.section{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.section textarea {
    margin: 5px;
    background-color: rgb(240, 242, 246);
    border: none;
    border-top-color: rgb(240, 242, 246);
    background-color: rgb(240, 242, 246);
    border-bottom-color: rgb(240, 242, 246);
    border-right-color: rgb(240, 242, 246);
    border-left-color: rgb(240, 242, 246);
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    font-family: "Source Sans Pro", sans-serif;
    padding-right: 5px;
    padding-left: 7px;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
    transition-property: border;
    line-height: 1.6;
    font-weight: normal;
    font-size: 1rem;
    caret-color: black;
    outline: none;
    resize: none;
    /* textarea의 크기 조절 막기 */
    height: 20vh;
    /* 화면 비율 20%에 맞게 크기 키우기 */
}

label {
    display: block;
    margin-bottom: 10px;
}


.slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.slider-container p {
    margin: 0;
}



.big-button-div {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 10%;
}

.big-button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.big-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.big-button.left {
    margin-right: 50px;
}

.big-button.right {
    margin-left: 50px;
}